* {
    padding:0;
    margin:0;
}
body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--light-color);
    color: var(--dark-color);
    scroll-behavior: smooth;
}
.dark-mode {
    background: var(--dark-color);
    color: var(--light-color);
}
