.card {
  background: var(--card-bg);
  color: var(--text-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px var(--shadow-color);
  border: 1px solid var(--border-color);
  margin: 20px 0;
  border-left: 5px solid var(--border-left-color)
}

/* Card Variants */
.card.primary { 
  --border-left-color: var(--primary-color); 
}
.card.success { 
  --border-left-color: var(--success-color); 
}
.card.danger { 
  --border-left-color: var(--danger-color); 
}
.card.red { 
  --border-left-color: var(--red); 
}
.card.orange { 
  --border-left-color: var(--orange); 
}
.card.yellow { 
  --border-left-color: var(--yellow); 
}
.card.lime { 
  --border-left-color: var(--lime); 
}
.card.teal { 
  --border-left-color: var(--teal); 
}
.card.cyan { 
  --border-left-color: var(--cyan); 
}

.card-shadow { 
  box-shadow: var(--shadow-color); 
}
.card-rounded { 
  border-radius: 15px; 
}

/* Adjustments for Image Cards */
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 2px solid var(--border-color);
}

/* Style for section titles */
.section-title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Pagination Styling */
.pagination-container {
  text-align: center;
  margin-top: 20px;
}
