/* Dark Mode Button */
.dark-mode-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 45px;
    background: #222;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.dark-mode-btn {
    background: var(--theme-btn-bg);
    color: var(--theme-btn-text);
}

.dark-mode-btn:hover {
    background: var(--theme-btn-bg-hover);
}