@import url('_reset.css');
@import url('_variables.css');
@import url('base.css');
@import url('components.css');
@import url('utilities.css');
@import url('spacing.css');
@import url('dropdowns.css');
@import url('tooltips.css');
@import url('cards.css');
@import url('alerts.css');
@import url('modal.css');
@import url('forms.css');
@import url('buttons.css');
@import url('tables.css');
@import url('grid.css');
@import url('animations.css');
@import url('darkmode.css');
@import url('navbar.css');

/* Scroll-to-Top Button */
#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none; /* Hidden by default */
    align-items: center;
    justify-content: center;
    font-size: 24px;
    z-index: 1000;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  #scrollTopBtn:hover {
    opacity: 0.8;
    transform: translateY(-5px);
  }
  